* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line {
    font-size: 7vmin;
}

.line-1 {
    font-size: 11vmin;
}

.page-three {
    color: #f4f4f4;
    font-weight: bolder;
}

.tech {
    color: gold;
    font-size: 3vmin;
    font-weight: bolder;
}

.contact-form{
    background-color: black;
    color: #f4f4f4;
    font-size: 3vmin;
}