:root{
    --bg-primary: 
}

.bg-primary{
    background-color: #000000;
}
.bg-primary{
    background-color: #66666e;
}
.bg-primary{
    background-color: #9999a1;
}
.bg-primary{
    background-color: #e6e6e9;
}
.bg-primary{
    background-color: #f4f4f6;
}


